<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PhoneHelper</title>
    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap-select/1.13.11/css/bootstrap-select.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Static CSS -->
	<link rel="stylesheet" href="{{config.STATIC_URL}}stylesheet.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="{{ url_for('index') }}">PhoneHelper</a>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				{% if logged %}
				<li class="nav-item active dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{{username}}
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
						<a href="{{ url_for('mwoauth.logout') }}" class="dropdown-item">
							<i class="fas fa-sign-out-alt"></i>
							{{ _('logout') }}
						</a>
					</div>
				</li>
				{% else %}
				<li class="nav-item active">
					<a href="{{ url_for('mwoauth.login') }}?next={{ request.endpoint }}" class="nav-link">{{ _('login') }}</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</nav>
	{% with messages = get_flashed_messages(with_categories=true) %}
	<div class="container error-container">
	{% if messages %}
	{% for category, message in messages %}
		<div class="alert alert-{% if category=='message' %}info{% elif category=='error' %}danger{% else %}{{ category }}{% endif %} alert-dismissible fade show" role="alert">
			{{ message }}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	{% endfor %}
	{% endif %}
	</div>
	{% endwith %}
	{% block content %}{% endblock %}
	<footer class="container-fluid">
		<hr>
		PhoneHelper &middot;
		<a href="https://phabricator.wikimedia.org/maniphest/task/edit/form/1/?project=tool-wiki-importer" class="text-muted">{{ _('report-bug') }}</a>
	</footer>
	<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.4.1/jquery.js"></script>
	<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
	<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>
	<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap-select/1.13.11/js/bootstrap-select.min.js"></script>
</body>
</html>
