{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Welcome to PhoneHelper</h1>

    <h2>Options</h2>
    <form action="{{url_for('update_options')}}" method="post">
        <div class="form-group">
            <label for="phone-number">Phone number (international format, no spaces, prefixed by <tt>00</tt>)</label>
            <input class="form-control" type="text" name="phone-number" id="phone-number" placeholder="00420602123456" value="{{user.phone_number}}">
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="online" id="online" {% if user.online %}checked{% endif %}>
            <label class="form-check-label" for="online">Are you currently online?</label>
        </div>
        <button class="btn btn-primary form-control" type="submit">Submit</button>
    </form>

    <h2>Dial a number</h2>
    <p>
        By using this form, you can anonymously call an user. You will receive a call from the app. Once you answer it, you will be connected with the phone number you enter here.
    </p>
    <form action="{{url_for('order_callback')}}" method="post">
        <div class="form-group">
            <label for="recipient">Phone number you wish to dial (international format, no spaces, prefixed by <tt>00</tt>)</label>
            <input type="text" name="recipient" id="recipient" placeholder="00420602123456" class="form-control">
        </div>
        <button class="btn btn-primary form-control" type="submit">Submit</button>
    </form>
</div>
{% endblock %}