{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Forbidden: No user</h1>
    <p>
        To use the PhoneHelper, you first need to be added by a tool admin. Please ask one to add you and come back.
    </p>
</div>
{% endblock %}
